body{
    padding: 0;
    color: blanchedalmond;
}

.hj{
   padding: x 0;
   padding: y 0,5rem;
   margin: 4rem;

   color: bisque;
   
    /* padding: 0;

    width: 40rem;
    height: 2rem;
    background-color: antiquewhite; */
}

nav{
    /* margin-top: 2px; */
  padding: auto;
  background-color: #DEAC80;
  padding: 1rem;
}

/* .log{
    right: 20%;
} */
.dp{
    margin-top: 0.5%; 
    text-align: center;
    font-size: medium;
}
.tx{
    /* text-align:left; */
    position: relative;
    left: 10%;
    margin-top: 5%;
    font-family: Abhaya Libre,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 170%;
}   
.tombol{
    position: relative;
}